<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.amrita.bengalidetectivequiz">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SecondActivity">
            <intent-filter>
                <action android:name="com.example.amrita.bengalidetectivequiz.SecondActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".FeludaActivity1">
            <intent-filter>
                <action android:name="com.example.amrita.bengalidetectivequiz.FeludaActivity1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".BomkeshActivity1">
            <intent-filter>
                <action android:name="com.example.amrita.bengalidetectivequiz.BomkeshActivity1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".FeludaActivity2">
            <intent-filter>
                <action android:name="com.example.amrita.bengalidetectivequiz.FeludaActivity2" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".FeludaActivity3">
            <intent-filter>
                <action android:name="com.example.amrita.bengalidetectivequiz.FeludaActivity3" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".FeludaActivity4">
            <intent-filter>
                <action android:name="com.example.amrita.bengalidetectivequiz.FeludaActivity4" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".FeludaActivity5">
            <intent-filter>
                <action android:name="com.example.amrita.bengalidetectivequiz.FeludaActivity5" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".FeludaActivity6">
            <intent-filter>
                <action android:name="com.example.amrita.bengalidetectivequiz.FeludaActivity6" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".FeludaActivity7">
            <intent-filter>
                <action android:name="com.example.amrita.bengalidetectivequiz.FeludaActivity7" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".FeludaActivity8">
            <intent-filter>
                <action android:name="com.example.amrita.bengalidetectivequiz.FeludaActivity8" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".FeludaActivity9">
            <intent-filter>
                <action android:name="com.example.amrita.bengalidetectivequiz.FeludaActivity9" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".FeludaActivity10">
            <intent-filter>
                <action android:name="com.example.amrita.bengalidetectivequiz.FeludaActivity10" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".BomkeshActivity2">
            <intent-filter>
                <action android:name="com.example.amrita.bengalidetectivequiz.BomkeshActivity2" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".BomkeshActivity3">
            <intent-filter>
                <action android:name="com.example.amrita.bengalidetectivequiz.BomkeshActivity3" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".BomkeshActivity4">
            <intent-filter>
                <action android:name="com.example.amrita.bengalidetectivequiz.BomkeshActivity4" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".BomkeshActivity5">
            <intent-filter>
                <action android:name="com.example.amrita.bengalidetectivequiz.BomkeshActivity5" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".BomkeshActivity6">
            <intent-filter>
                <action android:name="com.example.amrita.bengalidetectivequiz.BomkeshActivity6" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".BomkeshActivity7">
            <intent-filter>
                <action android:name="com.example.amrita.bengalidetectivequiz.BomkeshActivity7" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".BomkeshActivity8">
            <intent-filter>
                <action android:name="com.example.amrita.bengalidetectivequiz.BomkeshActivity8" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".BomkeshActivity9">
            <intent-filter>
                <action android:name="com.example.amrita.bengalidetectivequiz.BomkeshActivity9" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".BomkeshActivity10">
            <intent-filter>
                <action android:name="com.example.amrita.bengalidetectivequiz.BomkeshActivity10" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".FeludaResultActivity">
            <intent-filter>
                <action android:name="com.example.amrita.bengalidetectivequiz.FeludaResultActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".FeludaAnswerActivity">
            <intent-filter>
                <action android:name="com.example.amrita.bengalidetectivequiz.FeludaAnswerActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".BomkeshResultActivity" />
        <activity android:name=".BomkeshAnswerActivity" />
        <activity android:name=".InfoActivity"></activity>
    </application>

</manifest>